
html{
  width:500px;
  height:500px;
}

body{
  width:500px;
  height:480px;
  background-color: #E0F2F1;
}

#info-div{
	font-family: monospace;
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
   background-color: #00796B;
}

#event-list-div{
}

#create-event-div{
  background-color: #00796B;
	clear: both;
}

#refresh-button{
	vertical-align: top;
	margin: 2px 5px 0px 5px;
	width: 30px;
	height: 30px;
}

#create-event-text{
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 20px;
	width: 400px;
}

#create-event-button{
	vertical-align: top;
	margin: 2px 5px 0px 5px;
	height: 30px;
	width: 30px;
}

.event-div{
	clear: both;
	height: 30px;
	width: 500px;
	color: #000000;
	margin-top: 5px;
}

.left-div{
	float: left;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
	font-weight: bold;
	width: 450px;
	padding-top: 5px;
	padding-left: 5px;
}

.right-div{
	float: right;
	width: 30px;
}

.delete-button{
	width: 20px;
	height: 20px;
	margin-top: 2px;
}
